html {
  font-family: "Poppins", sans-serif;
  font-size: 18px;
}

h1 {
  font-family: "Playfair Display", serif;
}

li {
  list-style: none;
}
section {
  box-sizing: border-box;
  padding: 20px;
  width: 100%;
}

#cover {
  background: url(../images/cover_bg.png) no-repeat bottom right;
  height: 100vh;
}

.project-1 {
  background: url(../images/Rectangle-21.png);
}
.margin-200 {
  margin-top: 200px;
}

.card-body {
  background-color: #1a2236;
}

.card-title {
  font-family: "Poppins", sans-serif;
  font-weight: bold;
  font-size: 60px;
}
.badge {
  background-color: #98dede;
  color: #1a2236;
  font-size: 20px;
}

.project-text {
  background: url(../images/image_dots.png) no-repeat right top;
}

.project-text h2 {
  font-family: "Playfair Display", serif;
  font-size: 110px;
  transform: rotate(-90deg);
}
