html {
  font-family: "Poppins", sans-serif;
  font-size: 18px;
}

h1 {
  font-family: "Playfair Display", serif;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

section {
  box-sizing: border-box;
  padding: 20px;
  width: 100%;
}

#cover {
  background: url(../images/cover_bg.png) no-repeat bottom right;
  height: 100vh;
}

.badge {
  background-color: #98dede;
  color: #1a2236;
  font-size: 0.8rem;
}

.card-body {
  background-color: rgba(26, 34, 54, 0.95);
}

.card-title {
  font-family: "Poppins", sans-serif;
  font-weight: bold;
  font-size: 3rem;
}

.cover-info {
  height: 100vh;
}

.margin-200 {
  margin-top: 11rem;
}

.project-1 {
  background: url(../images/Rectangle-21.png);
}

.project-text {
  background: url(../images/image_dots.png) no-repeat right top;
}

.project-text h2 {
  font-family: "Playfair Display", serif;
  font-size: 6rem;
  transform: rotate(-90deg);
  user-select: none;
}

.about ul {
  list-style-type: disc;
}

.language {
  background: url(../images/Language.png) no-repeat bottom right;
  background-color: #1c528a;
}
.frameworks {
  background: url(../images/Frameworks.png) no-repeat bottom right;
  background-color: #e2505c;
}
.skills {
  background: url(../images/ic_skills.svg) no-repeat bottom right;
  background-color: #febf52;
}

.dot-img-skills {
  background: url(../images/image_dots_with_teal.svg) no-repeat bottom right;
}

.about-description h2 {
  font-family: "Playfair Display", serif;
  font-size: 110px;
}

.about-description p {
  font-size: 14px;
}

.contact-me h2 {
  font-family: "Playfair Display", serif;
  font-size: 110px;
}

.contact-me p {
  font-size: 14px;
}
